venv/
.env
__pycache__/
*.pyc
frontend/node_modules/
frontend/.next/
frontend/out/
src/utils/__pycache__/*
underwriter.log
frontend/.eslintrc.json
src/utils/__pycache__/logging.cpython-312.pyc

frontend/out/
*__init__*
__pycache__/
*.pyc
src/utils/__pycache__/*
.vscode/*
src/utils/__pycache__/logging.cpython-312.pyc
backend.log
